extends layout

block content
  h1 Lorem Ipsum
  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et modi eaque perferendis voluptatem consequuntur laboriosam fuga architecto sequi cupiditate consequatur? Quos nisi nulla, repudiandae dolorem impedit blanditiis placeat pariatur corrupti.