doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", href="/images/messages.png")
  body
    header 
      nav
        ul
          li: a(href="/") Home
          li: a(href="/new") New Message
          li: a(href="/about") About
    main
      div.wrapper
        block content
    footer
      p Axel C. Lopez @Copyright 2022 
        a(href="https://github.com/lopezac")
          img(src="/images/github.png" alt="GitHub" class="icon")